langchain-openai
langchain-anthropic
langchain
dotenv
langchain-google-genai
langchain-groq
langchain-community
langgraph
streamlit
pypdf
beautifulsoup4
wikipedia
langchain_text_splitters
langchain_chroma
langchain-pinecone
langgraph_supervisor
langchain_mcp_adapters
sqlalchemy
fastapi
fastapi[standard]
httpx
langchain-openrouter